.services {
  margin-top: 10px; }
  .services i {
    margin-left: 35%;
    color: #ff6a00;
    cursor: pointer; }
    .services i:hover {
      color: #565AB1;
      cursor: pointer;
      -webkit-transition: all 0.5s ease-in-out;
      -moz-transition: all 0.5s ease-in-out;
      -o-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out; }
  .services iframe {
    border: 0px;
    width: 100%;
    min-height: 300px; }
  .services .icon-round {
    margin-top: 30px;
    font-size: 60px;
    height: 128px;
    width: 128px;
    line-height: 130px;
    margin-right: 10px;
    text-align: center;
    display: inline-block;
    border-radius: 100%;
    margin-bottom: 10px;
    background-color: rgba(158, 158, 158, 0.15); }
