.general-subhead {
  background-color: #00802b;
  padding: 20px 100px 25px 100px;
  color: #fff; }

.cnt {
  width: 100%;
  min-height: 350px;
  border: 1px solid #e1e1e1; }

.color-facebook {
  color: #3B5998; }

.color-twitter {
  color: #00aced; }
